<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>New Portfolio</title>
    <link rel="stylesheet" href="style/css.css">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app" class="container">
        <header>
            <div class="title">
                <h1>Jonathan Quagliariello</h1>
                <h3>Front End Developer</h3>
            </div>
            <img src="/assets/imgs/Australia-apostles.jpg" alt="Australia tourist photo" class="hero">
            <div class="img__overlay"></div>
        </header>
    
        <nav>
            <div></div>
            <ul>
                <li @click="navChange('about')">About Me</li>
                <li @click="navChange('projects')">Projects</li>
                <li @click="navChange('certs')">Certifications</li>
                <li @click="navChange('contact')">Contact</li>
            </ul>
        </nav>
        <div    id="dynamic__comp" 
                class="comp__container">
            <project-component 
                v-if="activeDestination === 'projects'">
            </project-component>
            <about-component 
                v-if="activeDestination === 'about'">
            </about-component>
            <cert-component
                v-if="activeDestination === 'certs'">
        </cert-component>
            <contact-component
                v-if="activeDestination === 'contact'">
            </contact-component>
        </div>
        
    </div>

    
    <!-- Import App -->
    <script src="./main.js"></script>
    <!-- Import Components -->
    <script src="./components/projects-component.js"></script>
    <script src="./components/about-component.js"></script>
    <script src="./components/cert-component.js"></script>
    <script src="./components/contact-component.js"></script>
    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>

