/* CSS Variables */

:root {
    --main-color: #0048a8;
    --main-color-dark: #002178;
    --main-color-light: #5372da;
    --secondary-color: #ff9800;
}

/* General Tidy */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Grid Container */

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 50px 1fr;
    column-gap: 20px;
}

/* Header */

header {
    height: 100%;
    width: 100%;
    grid-column: 1 / -1;
    place-items: center;
    color: white;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;  
}
section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.title {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 22;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1 {
    font-size: 36px;
    display: block;
}
.title h3 {
    font-size: 16px;
    color:white;
    z-index: 2;
    padding-top: .5em;

}
.hero {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
.img__overlay {
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: .25;
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
}

/* Nav */

nav {
    height: 50px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}
ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    place-items: center;
    box-shadow: 0 6px 6px -6px;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}
li {
    width: 100%;
    height: 100%;
    background: var(--main-color-dark);
    color: white;
    place-items: center;
    display: grid;
    cursor: pointer;
}
li:hover {
    border-bottom: 2px solid white;
    background: var(--main-color-light);
    color: black;
}
li:active {
    border-bottom: 2px solid white;
    background: rgb(20, 20, 20)
}

/* Component Container */

.comp__container {
    height: 100%;
    width: 100%;
    place-items: center;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}

/* About Component */
.about {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    color: rgb(50, 50,50);
}

/* Project Cards */

.project__grid {
    padding-top: 20px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 220px 220px;
    place-items: center;
}
.project__card {
    background: var(--main-color);
    display: grid;
    height: 220px;
    width: 150px;
    grid-template-rows: 40px 125px 50px;
    place-items: center;
    color:white;
    border-radius: 8px;
}
.project__card h3 {
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    background: var(--main-color-dark);
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--secondary-color);
}
.project__card p {
    padding: 0 5px;
    text-align: center;
}
.project__thumb {
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}
.project__card a {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

/* Certification Component */

.cert__grid {
    padding-top: 20px;
    grid-column: 1 / -1;
    grid-row: 1/ -1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
    place-items: center;
}
.cert__thumb {
    height: 150px;
    width: 150px;
    cursor: pointer;
}
.cert__overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}
.cert__inner {
    grid-column: 1;
    grid-row: 1;
    z-index: 6;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 25px 1fr 20px;
}
.cert__imgOverlay {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    background: white;
}
.cert__inner span {
    padding-left: 5px;
    padding-top: 5px;
    align-self: left;
    cursor: pointer;
}
button {
    width: 100px;
    align-self: left;
    background: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Contact Component */

.three__wide {
    height: 100%;
    width: 400px;
    grid-column: 1 / -1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 30px;
    grid-gap: 10px;
    place-items: top;
}
.icon {
    grid-column: span 1;
    height: 100%;
    width: 100%;
}
.icon__img {
    height: 100%;
    width: 100%;
    
}
.contact__blurb {
    grid-column: 1 / -1;
    padding: 0 1em;
    align-self: top;
    color: rgb(50, 50,50);
    font-weight: 500;
    
}

/* Global Stylings */

.shadow {
    box-shadow: 3px 3px 3px rgba(20, 20, 20, 0.5);
}
.shadow:active {
    box-shadow: 0px 0px 0px rgba(61, 61, 61, 0.5);
    transform: translateY(4px);
}
.blurBG {
    opacity: 0.2;
}
.active {
    background: var(--secondary-color);
    color: black;
}

/* Media Queries */

/* Ipads and Landscape */

@media only screen and (min-width: 660px) {
    html {
        padding: 0 100px;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        grid-template-columns: repeat(8, 1fr);
    }
    .comp__container {
        grid-template-columns: repeat(8, 1fr);
        padding: 25px 25px;
        grid-gap: 20px;
    }
    header {
        grid-template-columns: 1fr;
    }
   .title {
        grid-column: 1 / span 1;
   }
   .hero {
       grid-column: span 1 / -1;
   }
   .about {
       padding-top: 25px;
   }
}
@media only screen  and (min-width : 750px) {
    header {
        grid-template-columns: 1fr 350px;
    }
    .img__overlay {
        grid-column: span 1/ -1;
    }
    .title {
        background: var(--main-color);
    }
}
/* Intermediate flow */

@media only screen  and (min-width : 1000px) {
    html {
        padding: 0 10%;
    }
    header {
        grid-template-columns: 1fr 350px;
    }
    .cert__imgOverlay {
        width: 600px;
        place-items: center;
    }
    .cert__inner {
        justify-items: center;
    }
    
}

/* Desktops and laptops */

@media only screen  and (min-width : 1224px) {
    html {
        padding: 0 20%;
    }
    .container {
        grid-template-columns: repeat(12, 1fr);
    }
    .comp__container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 250px;
        padding: 25px 25px;
        grid-gap: 20px;
    }
    
    .cert__imgOverlay {
        width: 600px;
        place-items: center;
    }
    .cert__inner {
        place-items: center;
    }
    h1 {
        font-size: 42px;
    }
}


/* Fade */

.fade-enter-active {
    transition: opacity 1s;
}
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}